<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Calculator</h1>
<br />
<p id="error_text">
</p>
<br />


<label>Brevet Distance(km):</label>
<select id="units">
<option>kilometers</option>
<option>miles</option>
</select>

 
<label>Brevet Distance:</label>
<select id="brevdist">
<option>200</option>
<option>300</option>
<option>400</option>
<option>600</option>
<option>1000</option>
</select>

  <div class="col-sm-4text-right">
    <form id="entry" >
    <label for="starttime">Start time:</label>
    <input id="starttime" name="starttime" type="text" width="15"
      autocomplete="off"  autofocus />
 
  </form>
</div>
  <div class="col-sm-4text-right">
    <form id="entry" >
    <label for="startdate">Start date(YYYY/MM/DD):</label>
    <input id="startdate" name="startdate" type="text" width="15"
      autocomplete="off"  autofocus />
   </form>
</div>
 

  {% for n in range(25) %}
  <div class="row">
    <div class="col-xs-2 text-center">
    <input type="text" class="form-control"
     name="distance" value="Distance"/> 
    </div> <!-- col -->
    <div class="col-xs-4">
    <input type="text" class="form-control"
      name="location" value="location" /> 
    </div> <!-- col -->
   	<div class="col-xs-6">
    <span class="times form-control">(times)</span>
  	</div> <!-- col -->
  </div> <!-- row -->
  {% endfor %}

<br />



<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
   // Do the following when the page is finished loading

      // When a field named 'miles' is changed ...
      $('input[name="distance"]').change(
          // ... execute this function
          function(){
              var e_miles = $(this).val();

              var target = $(this).parents(".row").find(".times");
              
              

              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { control: e_miles, brevdist: $("#brevdist").val(),
                  units: $("#units").val(), starttime: $("#starttime").val(),
                  startdate: $("#startdate").val()},
                  // The function to call with the response
                  function(data) {
                     var times = data.result.times;
                     var finished = data.result.finished;
                    
                     // alert("Got a response: " +  times);
                     target.text(times);
                     $("#error_text").html(finished);
                  
                  	 
                  
                  
                  
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes
              

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
